#conspan {
    background-color: rgb(69, 69, 69);
    border: #ffffff 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-self: left;
    width: auto;
}
#textEntry {
    font-family: "Arial";
    font-size: 20px;
    color: #ffffff;
}
.pingying {
    font-family: "Arial";
    font-size: 20px;
    color: #ddaf17;
}
.original {
    font-family: "Arial";
    font-size: 20px;
    color: #fffb00;
}
body {
    background-color: rgb(69, 69, 69);
}
#push  {
    align-self: right;
    width: auto;
}
.botbutton {
    background-color: rgb(69, 69, 69);
    border: #ffffff 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-family: "Arial";
    font-size: 20px;
    color: #ffffff;
}
.botbutton:hover {
    background-color: #ffffff;
    color: rgb(80, 80, 80);
}